/*********the following styles are different for the subpages********/



/*begin top box styles*/

#container_top_yellow {
	width: 900px;
	margin: 15px auto 0 auto;
	padding: 0;
	display: inline-table;
	background: #ffffff url("../img/yellow_bar.gif") no-repeat top right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
} /*had to use an inline-table descriptor here, because we want the boxes in container_top to float, but we don't want the #wrap itself to float (which contains #container top), as we want the page to center rather than float left or right.  Otherwise, a box containing a float must have a float itself.*/

#container_top_teal {
	width: 900px;
	margin: 15px auto 0 auto;
	padding: 0;
	display: inline-table;
	background: #ffffff url("../img/teal_bar.gif") no-repeat top right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
} /*had to use an inline-table descriptor here, because we want the boxes in container_top to float, but we don't want the #wrap itself to float (which contains #container top), as we want the page to center rather than float left or right.  Otherwise, a box containing a float must have a float itself.*/

#container_top_blue {
	width: 900px;
	margin: 15px auto 0 auto;
	padding: 0;
	display: inline-table;
	background: #ffffff url("../img/blue_bar.gif") no-repeat top right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
} /*had to use an inline-table descriptor here, because we want the boxes in container_top to float, but we don't want the #wrap itself to float (which contains #container top), as we want the page to center rather than float left or right.  Otherwise, a box containing a float must have a float itself.*/

#container_top_purple {
	width: 900px;
	margin: 15px auto 0 auto;
	padding: 0;
	display: inline-table;
	background: #ffffff url("../img/purple_bar.gif") no-repeat top right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
} /*had to use an inline-table descriptor here, because we want the boxes in container_top to float, but we don't want the #wrap itself to float (which contains #container top), as we want the page to center rather than float left or right.  Otherwise, a box containing a float must have a float itself.*/

#container_top_red {
	width: 900px;
	margin: 15px auto 0 auto;
	padding: 0;
	display: inline-table;
	background: #ffffff url("../img/red_bar.gif") no-repeat top right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
} /*had to use an inline-table descriptor here, because we want the boxes in container_top to float, but we don't want the #wrap itself to float (which contains #container top), as we want the page to center rather than float left or right.  Otherwise, a box containing a float must have a float itself.*/

#subpage_top_left {
	width: 470px;
	float: left;
}

#subpage_top_right {
	width: 430px;
	float: right;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

ul.local_nav {
	padding: 0 40px;
	/*font-weight: bold;*/
	font-size: 1.1em;
}

ul.local_nav li {
	line-height: 150%;
}

/*end top box styles*/



/*begin middle box styles*/

#container_middle_yellow {
	width: 900px;
	margin: 20px auto 0 auto;
	background: #ffffff url("../img/yellow_bar.gif") repeat-y top right;
	display: inline-table;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#container_middle_yellow p, #container_middle_yellow li {
	padding-right: 50px;
}

#container_middle_teal {
	width: 900px;
	margin: 20px auto 0 auto;
	background: #ffffff url("../img/teal_bar.gif") repeat-y top right;
	display: inline-table;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#container_middle_teal p, #container_middle_teal li, #container_middle_teal blockquote, #container_middle_teal table {
	padding-right: 50px;
}

#container_middle_blue {
	width: 900px;
	margin: 20px auto 0 auto;
	background: #ffffff url("../img/blue_bar.gif") repeat-y top right;
	display: inline-table;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#container_middle_blue p, #container_middle_blue li {
	padding-right: 50px;
}

#container_middle_purple {
	width: 900px;
	margin: 20px auto 0 auto;
	background: #ffffff url("../img/purple_bar.gif") repeat-y top right;
	display: inline-table;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#container_middle_purple p, #container_middle_purple li {
	padding-right: 50px;
}

#container_middle_red {
	width: 900px;
	margin: 20px auto 0 auto;
	background: #ffffff url("../img/red_bar.gif") repeat-y top right;
	display: inline-table;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#container_middle_red p, #container_middle_red li {
	padding-right: 50px;
}


.text_left {
	width: 50%;
	float: left;
}

.photo_right {
	width: 50%;
	float: right;
}

.clear {
	clear: both;
}


/*end middle box styles*/




/**********end different subpage styles*******/
