/*Copyright 2010, HiTrack*/


html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	margin:0;
	padding:0;
}

body {
	font-family: lucida-grande, verdana, sans-serif;
	font-size: 62.5%; /*Makes the base font size of the page 10 px, but uses a percentage along with em value with the text styles (see below), allowing more flexibility*/
	background-color: #DCD9E0;
}


/********Layout Structure********/


#wrap {
	width: 900px;
	position: relative;
	margin: 0 auto;
}


/*header layout items*/


.png_logo {
	padding: 0;
}


#header {
	float: left;
	width: 905px;
	margin: 20px 0 0 0;
	padding: 0;
	background: url("../img/header2.png") no-repeat top left;
}

#nav {
	margin: 0 20px;
	padding: 0;
}

div#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	float: left;
	margin: 0;
	padding: 10px 35px 0 35px;
	color: #ffffff;
	font-size: 1.4em;
	font-weight: bold;
	list-style-type: none;
	background: url("../img/divider.png") no-repeat 0 10%;
	height: 41px;
}

li#nav_left {
	background: none;
	margin-top: 2px;
	padding: 0px 20px 0 25px;
}

#nav a {
	color: #ffffff;
	text-decoration: none;
	border: none;
}

#nav img {
	border: none;
} /*needed this rule for HiTrack logo, image link in the nav.  Was applying a border, even with the #nav a rule of "border: none"*/

#skiptocontent {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


/*top container layout items*/


#container_top {
	width: 900px;
	margin: 15px auto 0 auto;
	padding: 0;
	display: inline-table;
	background: #ffffff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
} /*had to use an inline-table descriptor here, because we want the boxes in container_top to float, but we don't want the #wrap itself to float (which contains #container top), as we want the page to center rather than float left or right.  Otherwise, a box containing a float must have a float itself.*/


#top_left {
	width: 400px;
	float: left;
}

	#logo {
		position: relative;
		display: block;
		margin: 40px auto;
	}

	#download {
		width: 222px;
		/* min-height: 109px; */
		height: 80px;
		background: linear-gradient(180deg, rgba(168, 163, 178, 1) 0%, rgba(112, 97, 126, 1) 100%);
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-evenly;
		border: 1px solid #5B4B6C;
		margin: 60px auto 0 auto;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}

	.arrow {
		color: #ffffff;
		max-width: 36px;
	}

#top_middle {
	width: 250px;
	float: left;
}


#top_right {
	width: 250px;
	float: left;
}

	ul.blue {
		list-style-type: none;
		font-weight: bold;
		margin: 0;
		padding: 90px 20px 0 20px;
	}

	.blue li {
		color: #00759A;
		text-align: left;
	}

	p.gray {
		color: #666;
		font-weight: bold;
		text-align: right;
		margin: 0;
		padding: 40px 20px 20px 20px;
	}


	#facebook-link {
		float: right;
		width: auto;
		margin: 35px 20px 0 0;
		padding: 4px;
	}

	#facebook-link p {
		margin: 0 10px 0 0;
		padding: 0;
		font-size: 1.2em;
		font-weight: bold;
		float: left;
		width: auto;
	}

	#facebook-link img {
		float: left;
		border: none;
		width: auto;
	}


/*middle container layout items*/

#container_middle {
	width: 900px;
	margin: 20px auto 0 auto;
	padding: 0;
	background-color: #ffffff;
	display: inline-table;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

ol#easy123 {
	margin-left: 40px;
	padding: 0;
}

li.list1 {
	background: url("../img/list1.gif") no-repeat 0 10%;
	list-style-type: none;
	margin: 0;
	padding: 0 20px 20px 50px;
}

li.list2 {
	background: url("../img/list2.gif") no-repeat 0 5%;
	list-style-type: none;
	margin: 0;
	padding: 0 20px 20px 50px;
}

li.list3 {
	background: url("../img/list3.gif") no-repeat 0 5%;
	list-style-type: none;
	margin: 0;
	padding: 0 20px 20px 50px;
}



/*footer layout items*/

#footer {
	float:left;
	width: 900px;
	margin: 20px auto 0 auto;
	padding: 0;
	border-top: 1px solid #999;
}

#footer_left {
	float: left;
	width: 50%;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

#footer_right {
	float: right;
	width: 50%;
	text-align: right;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}  /*adding the margin and border to these nested footer elements to allow space at the bottom of the page in Safari and Chrome--otherwise if use margin space in #footer only, it allows space in firefox, but not safarie/chrome. */

#footer p {
	color: #666;
	padding: 4px 0 5px 0;
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
}

/*footer-contact and facebook links*/

div#footer-contact {
	width: auto;
	padding: 4px 0 4px 0;
	float: right;
}

#footer-contact p {
	margin: 0 10px 0 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	float: left;
}

#footer-contact img {
	float: left;
	border: none;
}

#footer_file_ext_text {
	clear: both;
	text-align: center;
	font-size: 90%;
}

span.divider {
	margin: 0 15px 0 15px;
}

/**/



#footer a:link {
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#footer a:visited {
	color: #666;
	font-weight: bold;
}

#footer a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}

#footer a:active {
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}


/********Text and image Styles********/

img {
	display: block;
}

img.center {
	display: block;
	margin-right: auto;
	margin-left:  auto;
	padding: 15px 0 15px 0;
	border: none;
}

span.red {
	color: #BD3632;
}

span.gray {
	color: #666;
}

p {
	font-size: 1.4em; /*14 pixels because we set the font-size in the "body" selector to 62.5% */
	color: #333;
	line-height: 160%;
	padding: 0 40px 15px 40px;
}

blockquote {
	font-size: 1.4em; /*14 pixels because we set the font-size in the "body" selector to 62.5% */
	color: #333;
	line-height: 160%;
	padding: 0 40px 25px 40px;
	font-style: italic;
}

ul {
	padding: 0 40px 15px 80px;
}

ul ul {
	padding: 0;
	margin: 0 0 0 40px;
} /*rules for a <ul> nested within another <ul>*/

li {
	font-size: 1.4em; /*14 pixels because we set the font-size in the "body" selector to 62.5% */
	color: #333;
	line-height: 160%;
	margin: 0;
	padding: 0;
}

li li {
	font-size: 100%;
} /*fixes sizing issues for nested lists.  Since we're using relative font sizing (ems) the inheritance doesn't quite work right--without this rule it basically inherits the size rule twice, making text larger*/

p.white {
	font-size: 1.2em; /*12 pixels because we set the font-size in the "body" selector to 62.5% */
	color: #ffffff;
	line-height: 160%;
	text-align: center;
	padding: 0;
}

p.center {
	text-align: center;
}

h1 {
	font-size: 2.2em;
	color: #00759A;
	font-weight: normal;
}

h2 {
	font-size: 2.0em;
	color: #666;
	padding: 20px 20px 15px 20px;
	font-weight: normal;
}

h2.white {
	font-size: 1.2em;
	color: #ffffff;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 1.4em;
	padding: 0 0 10px 20px;
	color: #666;
}

h3:first-child a {
	color: #666;
	text-decoration: underline;
} /*makes h3's that are also links appear grey, with an underline*/

h4 {
	font-size: 1.4em;
	padding: 0 40px 10px 40px;
	color: #00759A;
}

hr {
	color: #E0E0E0;
	margin: 15px 40px;
}

/*end text and image styles*/


/*pseudo selectors (links) */


a:link {
	color: #356aa0;
	text-decoration: none;
	border: none;
}

a:visited {
	/*color: #663399;*/
	color: #356aa0;
	text-decoration: none;
	border: none;
}

a:hover {
	/*color: #663399;*/
	color: #356aa0;
	text-decoration: underline;
	border: none;
}

a:active {
	/*color: #663399;*/
	color: #356aa0;
	text-decoration: underline;
	border: none;
}



a.white:visited {
	color: #fff;
}

a.white:hover {
	color: #fff;
	text-decoration: underline;
}

a.white:active {
	color: #fff;
	text-decoration: underline;
}

a.white:link {
	color: #fff;
}

/*end pseudo selector styles*/



/*begin table styles*/

table {
	clear: both;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	border: 1px solid #000;
	font-size: 1.3em;
	border-collapse: collapse;
}

table th, table td {
	margin: 0;
	padding: 5px;
	text-align: left;
	border: 1px solid #b5b5b5;
	line-height: 200%;
}

table th {
	color: #666;
}

table tr {
	background: #e6e6e6;
}

table tr.alt {
	background:  #f1f1f1;
}

td li, td h3, th h3, td h4, th h4, td blockquote {
	font-size: 100%;
} /*fixes sizing issues for nested items.  Since we're using relative font sizing (ems) the inheritance doesn't quite work right--without this rule it basically inherits the size rule twice, making text larger*/

/*end table styles*/
